.footer {

    margin: 90px auto 24px;
    color: #FFFFFF;
}
.footer__copyright {

    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .footer {
      margin-top: 88px
    }
}

@media screen and (max-width: 544px) {
.footer {

    margin-top: 64px;
}
}