.header {
    margin: 34px auto 90px;
    text-align: center;
  }
  
  .header__image {
    width: 32px;
    height: 32px;
  }
  
  .header__text {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  @media screen and (max-width: 1024px) {
    .header {
      margin: 30px auto 50px;
    }
  }
  
  @media screen and (max-width: 544px) {
    .header {
      margin: 20px auto 50px;
    }
  
    .header__image {
      width: 23px;
      height: 23px;
    }
  }