.intro {
    padding-right: 154px;
    margin: 92px 0 0;
    color: white;
  }
  
  .intro__title {
    font-size: 54px;
    font-weight: bold;
    margin: 0 0 40px;
  }
  
  .intro__container {
    width: 75%;
  }
  
  .intro__text {
    font-size: 24px;
    margin: 0;
    width: 100%;
  }
  
  .intro__text-author {
    text-align: right;
    font-size: 24px;
    margin: 10px 0 32px;
  }
  
  .intro__text-description {
    margin: 0;
  }
  
  @media screen and (max-width: 1024px) {

   

    .intro {
      padding: 0 24px;
      margin: 90px 0 0;
    }
  
    .intro__title {
      font-size: 45px;
      line-height: 49px;
      margin: 0 0 50px;
    }
  
    .intro__container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 544px) {
    .intro {
      margin: 64px 0 0;
    }
  
    .intro__title {
      font-size: 32px;
      line-height: 35px;
      margin: 0 0 40px;
    }
  
    .intro__text {
      line-height: 30px;
    }
  }

