.nav {
     
    display: flex;
    
   }
   
   .nav__logo  {
       width: 254px;
       height: 70px;
       padding: 0px 0px 0.8px 0px;
       
   }
   
   .nav__brand {
       max-width: 254px;
       margin-top: 34px;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-left: 513px;
       margin-right: 490px;
   }

@media screen and (max-width: 768px) {

    .nav {
        max-width: 720px;
    }
    .nav__brand {
        margin-left: 257px;
        flex-direction: row;
        }

    .nav__logo {

        height: 66px;
        margin-right: 257px;
        

        }
    }

    @media screen and (max-width: 320px) {

        .nav__logo {
            margin: 20px 66px 0;
            max-width: 188px;
            height: 52px;
        }
        .nav__brand {
            margin:0;
        }
        }