@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);
@import url(../blocks/nav.css);
@import url(../vendor/font/font.css);


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Inter', Arial, sans-serif;
    color: white;

}

body {
    background-color: #2A2C2F;

}

.page {
    max-width: 1280px;
    margin: 0 auto;

}

.nav {
     
 display: flex;

}

.nav__logo  {
    width: 254px;
    height: 70px;
    padding: 0px 0px 0.8px 0px;
    
}

.nav__brand {
    max-width: 254px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 513px;
    margin-right: 513px;
}


.lead__title {

    max-width: 720px;
    font-size: 6rem;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 90px auto 32px;


}
.lead__subtitle {

    max-width: 720px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    

}

.lead__image {
    max-width: 984px;
    width: 100%;
    height: 615px;
    top: 562px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    display: block;
    margin: 64px auto 0;

}



.intro {

    width: 830px;
    height: 482px;
    top: 1269px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    margin-top: 92px;
    margin-left: 148px;
    
}

.intro__container {
    max-width: 830px;
}

.intro__title {

   max-width: 830px;
    height: 116px;
    top: 1269px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    color: #FFFFFF;
    margin: 92px auto 40px;
    
     
}

.intro__text-author {

    width: 732px;
    height: 34px;
    top: 1503px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 32px;
    display: block;
    
    

}

.intro__text {

    width: 738px;
    width: 100%;
    height: 68px;
    top: 1425px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    margin-bottom: 10px;
    
    
}

.intro__text-description {

    width: 722px;
    height: 182px;
    top: 1569px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    color: #FFFFFF;
   
    
    
}

.footer {

    margin: 92px auto 24px;
}
.footer__copyright {

    text-align: center;
    font-size: 14px;
    line-height: 20px;
  

}

  
  @media screen and (max-width: 768px) {

    .nav__brand {
        margin-left: 257px;
        margin-right: 257px;
        flex-direction: row;
        }

    .nav__logo {

        height: 66px;
        margin-right: 257px;
    
    }

    .lead__title {
        max-width: 530px;
        font-size: 75px;
    }
    .lead__image {

        max-width: 768px;
        height: 480px;
        margin: 30px 24px 90px 24px;
    }
    .intro__container {
      max-width: 720px;
    }
    .intro__title {
        max-width: 707px;
      font-size: 45px;
      line-height: 49px;
      margin: 90px 37px 50px 24px;

    }
    .intro__text {
      max-width: 720px;
      font-size: 24px;
      line-height: 30px;
      margin: 0 24px 58px 24px;
    }
    .intro__text-author {
        max-width: 720px;
      font-size: 24px;
      line-height: 34px;
      margin-right: 24px;
     
    }
    .intro__text-description {
       max-width: 720px; 
      margin: 32px 24px 88px 24px;
      font-size: 16px;
      line-height: 26px;
    }
    .intro {
        margin-left: 24px;
    }
  }

  @media screen and (max-width: 320px) {

    .lead__title {
        max-width: 228px;
        margin-top: 50px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
      }
    
    .lead__description {
        max-width: 228px;
        font-size: 16px;
        line-height: 20px;
      }
    
    .lead__image {
        margin-top: 40px;
      }

    .intro {
        margin-top: 40px;
        max-width: 288px;
      }
    
    .intro__title {
        font-size: 32px;
        line-height: 35px;
      }


 
    .intro__text{
        line-height: 30px;
      }

  
    .footer {
      margin: 64px 0;
  }

    .footer__copyright {
     font-size: 16px;
     line-height: 14px;
  }
  
 }  